@import "tailwindcss";

@theme {
  --color-primary: #AA21A0;
  --color-dark-purple: #4B0743;
  --color-deep-pink: #651A5D;
  --color-violet: #8B1D82;
  --color-royal-purple: #AA21A0;
  --color-lavender: #CD2CC5;
  --color-magenta: #E94CE4;
  --color-soft-pink: #FBD2FC;
  --color-pale-pink: #FDE9FE;
  --color-light-pink: #FFF4FF;
  --color-white: #FFFFFF;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: linear-gradient(to bottom, black, #646cff);
  background-repeat: no-repeat;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#000000, #4B0743);
  background-attachment: fixed;
}

main{
  width: 1280px;
  margin:auto;
}